
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@*<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>

        </tr>
    </thead>
    <tbody>*@
@{
    ViewBag.ListTitle = "Categories";
    ViewBag.Items = new List<string>() { "cat1", "cat2", "cat3" };
    Html.RenderPartial("ListPartialView");
}
@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">List of categories</a>
    
}

@*@foreach (var item in ViewBag.cat)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName </td>

        </tr>
    }*@
@*</tbody>*@
</table>

