@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@*<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Rate</th>
        </tr>
    </thead>*@

@*<tbody>*@
@{
    ViewBag.ListTitle = "Products";
    ViewBag.Items = new List<string>() { "Mobiles", "Electronics", "Home Appliances" };
    Html.RenderPartial("ListPartialView");
}
@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">List of products</a>

}

@*@foreach (var item in ViewBag.products)
    {
        <tr>
            <td>@item.ProductId</td>
            <td><a href="/product/details/@item.ProductId">@item.ProductName </a></td>
            <td>@item.Rate</td>
        </tr>
    }*@
@*</tbody>*@
</table>


